extends ../layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/chart.css')

block content
    .container
        .row
            .col-md-10
                canvas#net(width='1000', height='500')
            .col-md-10
                canvas#off(width='1000', height='500')
        .row
            .col-md-10
                canvas#unmeasured(width='1000', height='500')
            .col-md-10
                canvas#total(width='1000', height='500')

block script
    script(src='/components/Chart.js/src/Chart.Core.js')
    script(src='/components/Chart.js/src/Chart.Bar.js')
    script(src='/javascripts/charts/bar.js')
